VITE_USER_SERVICE_URL=/user-api
VITE_TRAVEL_PLAN_SERVICE_URL=/travelplan-api
VITE_ROUTE_SERVICE_URL=/route-api
VITE_MAP_TILE_URL=https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
VITE_MAP_TILE_ATTRIBUTION=&copy; OpenStreetMap contributors
USER_SERVICE_PROXY_TARGET=http://localhost:5001
TRAVEL_PLAN_SERVICE_PROXY_TARGET=http://localhost:5002
ROUTE_SERVICE_PROXY_TARGET=http://localhost:5003
